.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  flex: 1 0;
  justify-content: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 350px;
    height: 350px;
  }
}

/* .swiper-slide img {
  display: block;
  width: 100%;
} */
