.cube-container {
  width: 350px;
  max-height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  flex: 1;
}

@media (max-width: 380px) {
  .cube-container {
    height: 200px;
    width: 200px;
    font-size: 10px;
  }
}

@media (min-width: 400px) {
  .cube-container {
    width: 450px;
    max-height: 450px;
  }
}

.swiper {
  padding: 0 !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
